*~
*.o
*.a
/debian/*debhelper*
/debian/9base/
/debian/files
/debian/*substvars
/debian/patches/
y.tab.c
y.tab.h

# Binaries
/ascii/ascii
/awk/awk
/basename/basename
/bc/bc
/cal/cal
/cat/cat
/cleanname/cleanname
/cmp/cmp
/date/date
/dc/dc
/dd/dd
/diff/diff
/du/du
/echo/echo
/ed/ed
/factor/factor
/fmt/fmt
/fortune/fortune
/freq/freq
/getflags/getflags
/grep/grep
/hoc/hoc
/join/join
/look/look
/ls/ls
/mk/mk
/mkdir/mkdir
/mtime/mtime
/pbd/pbd
/primes/primes
/rc/rc
/rc/x.tab.h
/read/read
/sam/sam
/sed/sed
/seq/seq
/sha1sum/sha1sum
/sleep/sleep
/sort/sort
/split/split
/strings/strings
/tail/tail
/tee/tee
/test/test
/touch/touch
/tr/tr
/troff/troff
/unicode/unicode
/uniq/uniq
/unutf/unutf
/yacc/yacc
