Source: 9base
Section: utils
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 7), quilt
Standards-Version: 3.8.2
Homepage: http://www.suckless.org/
Vcs-Browser: http://git.debian.net/?p=debian/9base.git
Vcs-Git: git://git.debian.net/git/debian/9base.git

Package: 9base
Architecture: alpha amd64 armel hppa hurd-i386 i386 kfreebsd-amd64 kfreebsd-i386 mips mipsel powerpc s390 sparc
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: 9mount, wmii2
Description: Plan 9 userland tools
 9base is a port of following original Plan 9 userland tools to Unix:
 awk, basename, bc, cat, cleanname, date, dc, echo, grep, mk, rc, sed, seq,
 sleep, sort, tee, test, touch, tr, uniq, and yacc.
 .
 9base is currently only used by wmii2 (window manager improved, version 2).
