Source: 9base
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9~)
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.9.6
Homepage: http://tools.suckless.org/9base
Vcs-Browser: git://anonscm.debian.org/collab-maint/9base.git
Vcs-Git: http://anonscm.debian.org/cgit/collab-maint/9base.git

Package: 9base
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: wmii2
Description: Plan 9 userland tools
 9base is a port of following original Plan 9 userland tools to Unix:
 awk, basename, bc, cat, cleanname, date, dc, echo, grep, mk, rc, sed, seq,
 sleep, sort, strings, tee, test, touch, tr, uniq, and yacc.
