#!/usr/bin/make -f

SHELL := sh -e

%:
	dh ${@}

override_dh_auto_build:
	dh_auto_build -- LDFLAGS="" PREFIX=/usr/lib/plan9 MANPREFIX=/usr/share/man

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/9base PREFIX=/usr/lib/plan9 MANPREFIX=/usr/share/man

	mv debian/9base/usr/share/man/man1/getflags.1 \
	   debian/9base/usr/share/man/man8/getflags.8
	for MANPAGE in debian/9base/usr/share/man/man*/*; \
	do \
		mv $${MANPAGE} $$(dirname $${MANPAGE})/plan9-$$(basename $${MANPAGE}); \
	done
	find debian/9base/usr/share/man -type f -size 0b | xargs rm -f

override_dh_fixperms:
	dh_fixperms

	chmod 0755 debian/9base/usr/lib/plan9/lib/troff/font/devutf/mkMAP
	chmod 0755 debian/9base/usr/lib/plan9/lib/troff/tmac/sendcover
