#!/usr/bin/make -f

SHELL := sh -e

%:
	dh --with quilt ${@}

override_dh_auto_build:
	$(MAKE) LDFLAGS="" PREFIX=/usr/lib/plan9 MANPREFIX=/usr/share/man

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/9base PREFIX=/usr/lib/plan9 MANPREFIX=/usr/share/man install

	for MANPAGE in debian/9base/usr/share/man/man*/*; \
	do \
		mv $${MANPAGE} `dirname $${MANPAGE}`/plan9-`basename $${MANPAGE}`; \
	done

override_dh_fixperms:
	dh_fixperms

	chmod 0755 debian/9base/usr/lib/plan9/lib/troff/font/devutf/mkMAP
	chmod 0755 debian/9base/usr/lib/plan9/lib/troff/tmac/sendcover
